
header {
  
    opacity: 0.9;
    margin-bottom:0;
  }
  
  .navbar-collapse{
    justify-content: flex-end;
    
   }


   h1, h2, h3, h4 {
       color: rgb(71, 8, 73);
     
   }

   h2{
    font-family: 'Brush Script MT', cursive;
    
   }

   h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 4vw;
   }

   img {
    width: 9.375rem;
    height: auto;
  }
  

  /* xs */
   @media (max-width: 600px) {
    body h1 {
      font-size: 3rem
    }
    .title{
      font-size:8vw
    }
    .mapText{
      offset: 1 !important
      
  }
  }


/* sm */
@media (min-width: 768px) {
  img {
      width: 200px;
  }
}
/* md */
@media (min-width: 992px) {
  img {
      width: 250px;
  }
}
/* lg */
@media (min-width: 1200px) {
  img {
      width: 300px;
  }
}

   .mainText {
  
    text-align: center;
    position: absolute;
    top: 20vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: rgb(71, 8, 73);
    font-family: 'Brush Script MT', cursive;
    border-style:solid;
    border-width: .6vw;
    border-radius:1vw;
    border-color:white;
    width: 45%;
    background-color:rgba(240, 228, 228, 0.5);
    font-size: 7vw
  }

  .list-unstyled{
    list-style: none;
  }
  
  .navbar-toggler-icon {
    display: block;
    float : right;
  }
 
  

.container {
    padding: 6.25rem 0rem 6.25rem 0rem;
    border-top: 0.2rem dotted;
    
}
.row-content {
    min-height: 9.375rem;
}

.mapText{
    font-size:1.5rem;

}

.mapText a:link {
    color:rgb(71, 8, 73);
}


.mapText a:visited{
    color:rgb(71, 8, 73);
}

.mapText a:hover{
    color:rgb(163, 132, 132);
    text-decoration: none;
}

.zoom {
    padding: 1.25rem;
    
    transition: transform .2s; 
  }
  
  .zoom:hover {
    transform: scale(1.3);
  }

  .fa-heart{
      color:red;
  }

.footer-line{
  width: 100%;
  height: 0.625rem;
  background-image: linear-gradient(45deg,rgb(40, 40, 201),rgb(112, 150, 50), rgb(231, 114, 18),#901CAD);
  margin-bottom: 3.125rem;
}

 footer{
    padding: 5.625rem 0 3.125rem 0;
}


.flip-card {
    background-color: transparent;
    width: 18.75rem;
    height: 18.75rem;
    margin-bottom: 18.75rem;
    perspective: 62.5rem;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }


  .fitimage{
    object-fit: cover;
  } 

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color:white;
    color: white;
  }
  
  .flip-card-back {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
  }
  
  .card-title{
     margin-top:1.25rem;
     margin-left:0.07rem;
  }

  .card-text{
      margin-left:-1.25rem;
      margin-top:-1.25rem;
  }

  
.parent-image {
  position: relative;
  top: 0;
  left: 0;
}
.search-image {
  position: relative;
  top: 3.5rem;
  left: 0;
}
.hotel-image {
  position: absolute;
  width:100%;
  height:35rem;
  opacity: 0.5;
 }

  form{
      background-color: turquoise;
      padding:1.25rem;
  }

  .box{
      position: relative;
  }

  .island{
      width:100%;
      height:15vw;
   
  }

  .islandTitle{
      
      position: absolute;
      top: 70%;
      left: 5%;
  }



.carousel .front-page img {
  height: 40vw;
  object-fit: cover;
  margin: auto;
}

.carousel-control-next-icon {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  border: 0.2rem solid white;

}

.carousel-indicators {
  bottom:-5rem;
 
}

.carousel-indicators li {
    background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}


@media screen and (max-width: 1200px){
  .carousel-caption{
    background-color:rgba(0,0,0,0.5);
}

}

@media only screen and (min-width: 1200px){
.carousel .carousel-caption {
  color: white;
  text-align:center;
  width: 280px;
  top: 110px;
  background: rgba(0,0,0,0.5);
  padding: 1.5vw;
  height: 400px;
  left: 30px; 
 }
}

 .carousel .carousel-item img {
  height: 40vw;
  object-fit: cover;
 
 margin: auto;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  /* padding-left: 20px; */
  margin-left:1.25rem;
}

#carouselButton{
  position:absolute;
  right:0;
  bottom:0;
  z-index:100;
}


